h1 {
    margin: 15px;
}

.stage {
    display: grid;
    grid-template: auto auto auto/ auto auto auto;
    gap: 4px
}

.square {
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1.5px solid gray;
    display: inline-block;
    box-sizing: border-box;
}

.o, .x {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.x::after, .o::after {

    position: absolute;
    
    font-size: 50px;
    line-height: 100px;
    content: "\274C";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.o::after {
    content: "\2B55";
}

.x::after {
    content: "\274C";
}
